<%-include("./partials/header.ejs")%>
<section class="aboutUs">
<div class="container align-items-center">
    <div class="row text-center">
        <div class="col-12 fs-1">About Us</div>
        <div class="col-12 fs-3">Who We Are</div>
        <div class="col-12 fs-5">At Margrave Store, our mission is to bring you a seamless shopping experience filled with high-quality products at competitive prices. We’re passionate about providing a wide selection that caters to every taste and lifestyle. Whether you're refreshing your wardrobe or upgrading your tech gadgets, we’ve got you covered!</div>
    </div>
    <div class="row text-center">
        <div class="col-12 fs-3">Our Commitment to Quality</div>
        <div class="col-12 fs-5">We carefully select each item in our inventory, ensuring that our products meet the highest standards of quality and durability. From fashionable clothing and accessories to reliable electronics, we prioritize your satisfaction and strive to provide items that are not only stylish but also built to last.</div>
    </div>
</div>
</section>
<%-include("./partials/footer.ejs")%>