.header{
    position:sticky;
    top:0;
    z-index: 10;
}

body{
    z-index: 9;
}

.bodyTop{
    background-color: #3C3D37;
    color: antiquewhite;
}

.bodyCarousel{
    background-color: beige;
}

.bodyBottom{
    background-color: #3C3D37;
    color: antiquewhite;
}

.aboutUs{
    background-color: #3C3D37;
    color: antiquewhite;
    height:100vh;

}

.icon{
    height:40px;
    width:30px;
}

.diplayCategory{
    background-color: darkslategray;
    color: antiquewhite;
}

.cardImgContainer{
    height:200px;
}

.cardImgContainer img{
    height:100%;
    width:100%;
    object-fit: contain;
    align-self: center;
    
}

.carousel-item img{
    height:100%;
    width:100%;
    object-fit: contain;
    align-self: center;
}

.carousel-item{
    height:500px;
    background-color: white;
}

.carouselText{
    font-family: monospace;
    background-color: black;
    opacity:0.5;
}

.carousel-control-next-icon {
    background-color: gray; 
    opacity:0.2;
}

.carousel-control-prev-icon {
    background-color: gray;
    opacity:0.2;
}